DEBUG=True
SECRET_KEY=secret_key
DATABASE_NAME=tech_forum_db
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432
GEMINI_API_KEY=gemini_api_key
ALLOWED_HOSTS=127.0.0.1 localhost
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False